@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;

@tailwind components;
@tailwind utilities;

.filters {
    filter: sepia(100%) hue-rotate(203deg) saturate(185%);
}

#programs::-webkit-scrollbar {
    width: 10px;
    border-radius: 100vh;
    background-color: darkblue;
}

#programs::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 100vh;
    background-color: #F3DB00;
    -webkit-border-radius: 100vh;
    -moz-border-radius: 100vh;
    -ms-border-radius: 100vh;
    -o-border-radius: 100vh;
}